* text=auto

# Fix unwanted files showing as a main repository language.
*.vfl                   linguist-vendored
*.cmd                   linguist-vendored
*.json                  linguist-vendored
*.sublime-completions   linguist-vendored

/.gitattributes export-ignore
