body {
    font-family: "Segoe UI" Helvetica sans-serif;
    margin: .25rem .5rem .5rem, .5rem;
    --codecolor: color(var(--background) blend(grey 70%));
    --radius: 0.25rem;
}
p { margin: 0 0 0.5rem 0 }
h1 {
    display: inline;
    font-size: 1.5rem;
    padding-right: .25rem;
}
h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.summary {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-style: italic;
}
.usage { margin: .5rem 0 }
.argument {
    display:inline;
    padding: 0 .15rem;
}
code {
    background-color: var(--codecolor);
    border-radius: var(--radius);
    padding: 0.1rem 0.25rem;
}
.codeblock {
    background-color: var(--codecolor);
    border-radius: var(--radius);
    padding: .5rem;
}
.codeline {
    background-color: inherit;
    border-radius: 0;
    display: block;
}
.padder {
    padding: 0 .25rem;
}
.pillow {
    padding: 0 .15rem;
    background-color: color(var(--background) blend(var(--bluish) 60%));
    border-radius: var(--radius);
}